{% block body %}
    <hr class="mx-auto bg-black dark:bg-white w-1/2" />
    <section
        class="p-6 my-12 scroll-mt-16 widescreen:secion-min-height tallscreen:section-min-height">
    <div class="flex items-center justify-between flex-row flex-wrap border border-orange-200 sm:w-1/2 sm:p-10 mx-auto md:p-2">
        <form
            action=""
            class="max-w-4xl mx-auto text-2xl sm:text-3xl flex flex-col text-left gap-4 border border-white p-10"
        >
        <p class="sm:text-3xl">LEAVE A COMMENT</p>
            <label for="name">Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                autocomplete="off"
                spellcheck="false"
                required
                minlength="3"
                maxlength="60"
                placeholder="ex: Juan Dela Cruz"
                class="w-full text-black text-2xl sm:text-3xl p-3 rounded-xl border border-solid border-slate-900 dark:border-none"
            />
            <label for="email">Email:</label>
            <input
                type="text"
                id="email"
                name="email"
                autocomplete="off"
                spellcheck="false"
                required
                placeholder="ex: juandelacruz@email.com"
                class="w-full text-black text-2xl sm:text-3xl p-3 rounded-xl border border-solid border-slate-900 dark:border-none"
            />
            <label for="comment">Comment:</label>
            <textarea
                name="comment"
                id="comment"
                cols="30"
                row="10"
                placeholder="Comment..."
                required
                class="w-full text-black text-2xl sm:text-3xl p-3 rounded-xl border border-solid border-slate-900 dark:border-none"
            ></textarea>
            <button
                id="commentSubmit" class="bg-slate-700 hover:bg-slate-600 active:bg-orange-200 text-white p-3 w-48 rounded-xl border border-solid border-slate-900 dark:border-none"
                type="submit"
            >
                Submit Comment
            </button>
        </form>
    </div>
</section>
{% endblock %}
