{% extends 'base.html' %}
{% block head%}
    <title>{{ about }} |SinigangSanctuary</title>
{% endblock head%}
{% block content %}
<article class="grid place-items-center">
    <section class="text-center max-w-5xl text-[16px] mt-4 text-slate-900 dark:text-slate-50">
        <figure>
            <figcaption class="hidden">Jim Ryan</figcaption>
            <img src="{{ url_for('static', filename='assets/images/jim.jpg') }}" alt="mypicture">
        </figure>
        <h2 class="text-left text-3xl dark:text-orange-100 font-serif"><b>About Me</b></h2>
        <p class="text-left">
        <strong>Howdy there!</strong> Welcome aboard. I'm Jim Ryan, but folks around here call me all sorts of things.  Like many Jim, I picked up photography and cookin' all on my own. Back in 2021, I started this here blog and named it after my favorite food, Sinigang. Now we're settled in Manaoag City, workin' on this blog part-time. Let me tell you, it don't get much better than this!
        </p>
        <p class="text-left">
            Food? That's my obsession. Dreamin' up new recipes, devourin' cookbooks, keepin' up on food and health news - it's all part of the fun. And takin' pictures of it all? Well, that's just the icing on the cake, I hope it gets you inspired to whip up somethin' tasty and good for you in your own kitchen.
        </p>
        <p class="text-left">
            Most of all, I love eatin' good food with good company. There ain't nothin' better than that, is there? I reckon cookin' should be a joy and recipes ain't set in stone. I mostly leave the meat out of my dishes here on SinigangSanctuary's Kitchen, but that don't mean there ain't room for a treat now and then. Laughter and good company over a drink or two? You betcha!
        </p>
        <p class="text-left">
            This blog is all about celebratin' good food - real, down-to-earth food that tickles your taste buds and keeps you healthy. So, come on in, grab a seat, and let's get cookin'!
        </p>
    </section>
    <section class="text-center max-w-5xl text-[16px] mt-4 text-slate-900 dark:text-slate-50">
        <h2 class="text-left text-3xl dark:text-orange-200 font-serif"><strong>About Sinigang Sanctuary</strong></h2>
        <p class="text-left">
            Welcome to Sinigang Sanctuary, your one-stop shop for exploring the wonderful world of sinigang!
        </p>
        <p class="text-left">
            The name "Sinigang Sanctuary" is a nod to the iconic Filipino dish, sinigang, and the comforting, welcoming space this blog aspires to be.  Sinigang, a sour and savory stew, is a cherished part of Filipino cuisine. Its versatility allows for endless variations, incorporating different meats, seafood, vegetables, and of course, the star of the show - the souring agent.
        </p>
        <p class="text-left">
            Here at Sinigang Sanctuary, we delve into the depths of this beloved dish, showcasing not just the classic pork sinigang in tamarind broth, but also regional specialties and creative takes on the traditional recipe. We'll explore the tangy world of sinigang sa guava, the spicy sinigang sa miso, and even vegetarian and vegan variations.
        </p>
        <p class="text-left">
            Our goal is to be your guide through this delightful culinary adventure.  Whether you're a seasoned sinigang aficionado or a curious first-timer, Sinigang Sanctuary offers something for everyone. So, grab a spoon, embrace the lip-puckering sourness, and join us as we explore the delicious depths of sinigang!
        </p>
    </section>
</article>
{% endblock %}
