{% block body %}
    <hr class="mx-auto bg-black dark:bg-white w-1/2" />
    <section
        id="testimonials"
        class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height"
    >
        <h2
            class="4-xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white"
        >
            Featured Comments
        </h2>
            <!-- NOTE: \201C an openning blockquote-->
        <figure class="my-12">
            <blockquote
                class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative"
            >
                <p
                    class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2"
                >
                Been lurking on Sinigang Sanctuary for months now, and I have to say, they've seriously upped my sinigang game.  The depth of knowledge and passion for this dish is amazing.  Anyone else out there secretly wishing the comment section had usernames? Maybe we could start a "Secret Sinigang Society" for fans of the blog!
                </p>
            </blockquote>
            <figcaption
                class="italic text-xl sm:text-2xl text-right mt-2 text-slate-500 dark:text-slate-400"
            >
                &#8212;Intrigued Lurker
            </figcaption>
        </figure>
            <!-- NOTE: \201C an openning blockquote-->
        <figure class="my-12">
            <blockquote
                class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative"
            >
                <p
                    class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2"
                >
                Sinigang Sanctuary is a delicious deep dive into Filipino cuisine, not just sinigang! Their exploration of regional specialties always leaves me wanting to explore more. The anonymous comments are a fun peek into other people's favorites, but I do wish some commenters felt comfortable sharing their names for a more personal touch.
                </p>
            </blockquote>
            <figcaption
                class="italic text-xl sm:text-2xl text-right mt-2 text-slate-500 dark:text-slate-400"
            >
                &#8212;Jackfruit Journeyer (Pseudonym)
            </figcaption>
        </figure>
            <!-- NOTE: \201C an openning blockquote-->
        <figure class="my-12">
            <blockquote
                class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative"
            >
                <p
                    class="text-2xl sm:text-3xl text-left mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2"
                >
                Sinigang Sanctuary? More like Filipino Feast Friend!  Jim, your recipes are always on point, from the classic sinigang to that crazy ube halo-halo you whipped up last month. The anonymous comments are a fun way to see what everyone else thinks, but between us friends, wouldn't it be more fun to see some real names? Just sayin'...
                </p>
            </blockquote>
            <figcaption
                class="italic text-xl sm:text-2xl text-right mt-2 text-slate-500 dark:text-slate-400"
            >
                &#8212;Sisig Slayer (C'mon Jim, spill the beans!)
            </figcaption>
        </figure>
    </section>
{% endblock %}
