{% block body %}
    <div
      class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center transition-all duration-700 ease-in-out hover:bg-center hover:drop-shadow-glow"
      style="background-image: url('static/assets/images/restaurantReviewCover.jpg'); height: 400px">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.4)">
        <div class="flex h-full items-center justify-center">
          <div class="text-white">
              <h2 class="hover:text-lime-200 mb-4 text-7xl font-semibold italic font-serif transition-all duration-700 hover:shadow-blue-200 hover:drop-shadow-glow"><span class="hover:text-teal-500">Sinigang</span> Sanctuary</h2>
            <h4 class="mb-6 text-xl font-semibold">by Jim Ryan</h4>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
