{% extends 'base.html' %}
{% block content %}
<body>
    <div class="homepage-maincontent">
        <img width="500px" class="w-24 h-24 rounded-full mx-auto" id="pork-sinigang-image" src="{{ url_for('static', filename='assets/images/pork-sinigang.jpg') }}" alt="Food image of Pork Sinigang">
        <h2>Pork Sinigang</h2>
        <p>Today has been a cold and wet day, with rain intermittent throughout. It was the kind of weather that calls for a piping-hot pot sinigang na baboy, which was what I made for lunch.</p>
        <div class="ingredientRecipiesSection">
            <div class="ingredients-section">
                <h2>Ingredients</h2>
                <ul>
                    <li>2 pounds pork spare ribs, cut into 2-inch pieces</li>
                    <li>8 cups water</li>
                    <li>2 large tomatoes, quartered</li>
                    <li>1 medium onion, peeled and quartered</li>
                    <li>2 tablespoons fish sauce</li>
                    <li>6 pieces gabi, (peeled and halved depending on size)</li>
                    <li>1 6-inch radish (labanos), peeled and sliced to ½-inch thick half-rounds</li>
                    <li>2 finger chilies (siling haba)</li>
                    <li>½ bunch long beans (sitaw), ends trimmed and cut into 3-inch lengths</li>
                    <li>1 eggplant, ends trimmed and sliced to ½-inch thick half-rounds</li>
                    <li>6 pieces okra, ends trimmed</li>
                    <li>15 pieces large tamarind or 1 ½ (1.41 ounces each) packages tamarind base powder</li>
                    <li>salt and pepper to taste</li>
                    <li>1 bunch bok choy or pechay, ends trimmed and separated into leaves</li>
                </ul>
            </div>
            <div class="recipies-section">
                <h2>Recipies</h2>
                <ol>
                    <li>Rinse pork ribs and drain well.</li>
                    <li>In a pot over medium heat, combine pork and enough water to cover. Bring to a boil, skimming scum that accumulates on top.</li>
                    <li>Once broth clears, add tomatoes, onion, and fish sauce. Lower heat and simmer for about 1 to 1 ½ hours or until meat is tender, adding more water as necessary to maintain about 8 cups.</li>
                    <li>Add gabi and cook for about 4 to 6 minutes or until tender.</li>
                    <li>Add chili peppers and radish. Continue to simmer for about 2 to 3 minutes.</li>
                    <li>Add long beans. Continue to cook for about 2 minutes.</li>
                    <li>Add eggplant and okra and cook for another 1 to 2 minutes.</li>
                    <li>If using packaged tamarind base, add to the pot and stir until completely dissolved.</li>
                    <li>Season with salt and pepper to taste.</li>
                    <li>Add bok choy and continue to cook for about 1 minute. Serve hot.</li>
                </ol>
            </div>
        </div>
        <p></p>
        <section></section>
        <article></article>
    </div>
    <div class="foodReview">
        <div>Reviews <button class="writeAReview">Write a review</button>
        </div>
    </div>
    <!-- Restaurant reviews here-->
{% endblock %}
