{% extends 'base.html' %}{% block content %}
{% include 'heading.html' %}
<hr class="mx-auto bg-black dark:bg-white w-1/2" />
<section id="hero" class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-8 mb-12 scroll-mt-40 widescreen:section-min-height tallscreen:section-min-height">
    <!-- Slogans -->
    <article class="sm:w-1/2">
    <h1>Restaurant Reviews | Hungry Passport</h1>
<section id="testimonials" class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height">
    <p>
    Hey everyone, Jim Ryan here! You might already know me from my travel blog, where I share stories and adventures from all corners of the world. But there's one thing that goes hand-in-hand with travel (besides a good backpack and a sense of adventure, of course!): amazing food!
    <br>
    <br>
    That's why I'm thrilled to announce the launch of a brand new project: The Hungry Passport - Restaurant Reviews Around the Globe!
    <br>
    <br>
    As a self-proclaimed foodie (and let's be honest, who isn't?), I've always had a passion for discovering new cuisines and savoring incredible dishes.  But beyond the initial "wow" factor, I love diving deeper.  What makes a restaurant truly special?  Is it the quality of the ingredients, the creativity of the chef, or the warmth of the atmosphere?
    <br>
    <br>
    The Hungry Passport is all about sharing those experiences with you.  Here, you'll find in-depth reviews of restaurants I've visited during my travels, from Michelin-starred establishments to hidden local gems.  I'll be sharing the sights, the smells, and of course, the most important part – the tastes!
    <br>
    <br>
    Whether you're a seasoned traveler planning your next culinary adventure, or a curious foodie looking for inspiration in your own backyard, The Hungry Passport is for you.  I'll be your guide through the world of restaurants, offering honest reviews, helpful tips, and maybe even a few mouthwatering photos to get your taste buds tingling.
    <br>
    <br>
    So buckle up, fellow food enthusiasts!  Get ready to embark on a delicious journey with The Hungry Passport.  Let's explore new flavors, discover hidden gems, and celebrate the incredible diversity of food cultures around the world.
    <br>
    <br>
    Stay tuned for my first restaurant review coming soon!  In the meantime, feel free to drop a comment below and let me know what kind of restaurants you'd love to see me explore.  Happy eating!
    <br>
    <br>
    </p>
</section>
    </article>
</section>
    <hr class="mx-auto bg-black dark:bg-white w-1/2" />

    <!-- NOTE: featuredposts here -->
    <section
        id="featuredposts"
        class="p-6 my-12 scroll-mt-20 widescreen:secion-min-height tallscreen:section-min-height"
    >
        <h2
            class="4-xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white"
        >
            Featured Posts
        </h2>
        <ul
            class="list-none mx-auto my-12 flex flex-col sm:flex-row items-center gap-8"
        >
            <div
                class="block max-w-sm rounded-lg bg-white bg-cover p-6 shadow-lg dark:bg-neutral-700"
                style="
                    background-image: url(&quot;../static/assets/images/pork-sinigang-dark.jpg&quot;);
                "
            >
                <h5
                    class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
                >
                    Pork Sinigang
                </h5>
                <p
                    class="mb-4 text-base text-white dark:text-neutral-200"
                >
                    Savory Taste
                </p>
                <a
                    href="/porksinigang"
                    class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                    data-twe-ripple-init
                >
                Read More
                </a>
            </div>
            <div
                class="block max-w-sm rounded-lg bg-white bg-cover p-6 shadow-lg dark:bg-neutral-700"
                style="
                    background-image: url(&quot;../static/assets/images/schnitzel-dark.jpg&quot;);
                "
            >
                <h5
                    class="mb-2 text-xl font-medium leading-tight text-neutral-800 text-white dark:text-neutral-50"
                >
                Schnitzel
                </h5>
                <p
                    class="mb-4 text-base text-neutral-600 text-white dark:text-neutral-200"
                >
                Unleash the flavor. Bite into golden armor meat
                </p>
                <a
                    href="/schnitzel"
                    class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                    data-twe-ripple-init
                >
                Read More
                </a>
            </div>

            <div
              class="block max-w-sm rounded-lg bg-white bg-cover p-6 shadow-lg dark:bg-neutral-700"
              style="background-image: url('../static/assets/images/cheese-noodles-dark.jpg');">
              <h5
                class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50">
                Käsespätzle (cheese noodles)
              </h5>
              <p
                class="mb-4 text-base text-white  dark:text-neutral-200">
                        Cheezy!
              </p>
                <a
                    href="/cheesenoodles"
                    class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                    data-twe-ripple-init
                >
                Read More
                </a>
            </div>
        </ul>
    </section>
{% endblock %}
