@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/custom.css';

.radial-blue {
    background: radial-gradient(lightyellow, skyblue);
}

.radial-dark {
    background: radial-gradient(#172034, #88ffe9, skyblue, #172034);
}

.radial-rainbow {
    background: radial-gradient(red, orange, yellow, blue, purple);
}
