{% block content %}
<section>
    <h1>Filipino Crispy Tofu Sisig (Vegan)</h1>
    <p>A Filipino Crispy Tofu Sisig cooked with an aromatic blend of onions, garlic, peppers, and chiles. This is a hearty vegan take on the Filipino Kapampangan classic!<br>
    This is also inspired by the Crispy Tofu Sisig from Max’s restaurant!<br>
    It’s delicious savoury and spicy with a bit of sourness and hint of sweetness.</p>
    <img src="{{ url_for('static', filename='assets/images/sisigtofu-image-with-rice.png') }}" alt="tofu sisig image">
</section>
<section>
    <h1>What is sisig?</h1>
    <p>Sisig is a very popular Filipino dish that originated from Pampanga in the island of Luzon.<br>
It’s usually made out of pig ears, chicken liver, and often pork belly with lots of fat cooked with lots of aromatic garlic, onions, and chiles.</p>
</section>
{% endblock %}
